*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@font-face {
    font-family: futura-medium;
    src: url(../font/futura/FutuBk.ttf);
}
@font-face {
    font-family: futura-bold;
    src: url(../font/futura-heading/FuturaLTPaneuropeanHeavy.ttf);
}
@font-face {
    font-family: futura-heading;
    src: url(../font/futura-heading/FuturaLTPaneuropeanBold.ttf);
}

.navbar-top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .9vw 2.6vw;
    padding-left: 1vw;
    padding-right: 3.5vw;
}
.logo-navbar img{
    max-width: 3.7vw;
}
.navbar-top ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbar-top ul li{
    list-style: none;
    padding: 0 2.2vw;
    border-right: .2vw solid #070909;
    font-family: futura-medium;
}
.navbar-top ul li a{
    text-decoration: none;
    color: #070909;
    font-size: 1.5vw;
    font-weight: 600;
}
.navbar-top ul li:last-child{
    border-right: none;
    padding-right: 0;
}

.navbar-menu{
    background: #070909;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5vw 1.4vw;
    padding-left: 3vw;
}
.navbar-menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    width: max-content;
    padding: 0 1vw;
}
.navbar-menu ul li{
    font-size: 1.9vw;
    font-family: futura-medium;
    color: white;
    padding:.8vw 1.9vw;
}
.search-box{
    background: #5A5958;
    width: 17%;
    height: max-content;
    display: flex;
    align-items: center;
    padding: .9vw 1vw;
    border-radius: 20vw;
    position: relative;
    overflow: hidden;
    margin: 0 2.6vw;
    margin-right: 3vw;
    margin-left: 4vw;
}
.search-box input{
    background: transparent;
    border: none;
    color: white;
    text-align: center;
    font-family: futura-medium;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    outline: none;
    width: 100%;
    padding-left: 1.5vw;
    z-index: 5;
}
.search-box input::placeholder{
    color: #a7a4a3;
    padding-right: 1.2vw;
}
.search-box::before{
    content: '';
    width: 91%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 92%;
    background: #716E70;
    border-radius: 20vw;
}
.search-box::after{
    content: '';
    width: 94%;
    position: absolute;
    left: 44%;
    transform: translateX(-50%);
    bottom: -4%;
    height: 85%;
    background: #5A5958;
    border-radius: 20vw;
}
.search-box ion-icon{
    color: white;
    position: absolute;
    left: 5%;
    font-size: 2.3vw;
    top: 50%;
    z-index: 5;
    transform: translateY(-50%);
}

.like-button{
    margin: 0 2.1vw;
}
.like-button ion-icon{
    color: white;
    font-size: 3.6vw;
    cursor: pointer;
}

.cart-button{
    margin: 0 2vw;
}
.cart-button ion-icon{
    color: white;
    font-size: 3.6vw;
    cursor: pointer;
}

.slide-show-banner{
    position: relative;
}
.heading-banner{
   text-align: center;
   padding: 5vw 0;
   position: relative;
}
.hamburger-banner{
    position: absolute;
    left: 2%;
    top: 16%;
    width: 3vw;
}
.heading-banner h1{
    font-size: 2.2vw;
    text-transform: uppercase;
    font-family: futura-heading;
    margin-bottom: .1vw;
    color: #040707;
}
.heading-banner p{
    font-size: 1.6vw;
    font-family: futura-medium;
    font-weight: 600;
    color: #040707;
    letter-spacing: .16vw;
}
.swiper-slide{
    width: 100%;
}
.slide-img-login img{
  width: 5vw;
}
.swiper-slide img{
    width: 100%;
}
.btn-shop{
    font-size: 1.9vw;
    font-family: futura-medium;
    border: none;
    background: #1A1C1D;
    color: white;
    padding: .56vw 3.6vw;
    border-radius: 20vw;
    margin: 4vw auto;
    width: max-content;
    display: block;
}
.circle{
    position: absolute;
    bottom:8%;
    right: 1.5%;
    width: 2.3vw;
}

.video{
    width: 100%;
}
.video video{
    width: 100%;
}

.category-section{
    width: 100%;
    height: max-content;
    text-align: center;
    padding: 0 4vw;
    padding-bottom: 6vw;
}
.category-section h1{
    font-family: futura-medium;
    font-size: 2.2vw;
    letter-spacing: .2vw;
    margin: 4.7vw 0;
}
.category-section b{
    font-family: futura-bold;
}
.category-layout-homepage{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4vw;
}
.category-box img{
    width: 100%;
}

.popular-section{
    text-align: start;
    width: 100%;
    height: max-content;
    padding: 0 4vw;
}
.popular-section h1{
    font-size: 2.2vw;
    font-family: futura-medium;
    letter-spacing: .2vw;
    margin-bottom: 3vw;
}
.popular-section b{
    font-family: futura-bold;
}
.wrapper-popular{
    margin-bottom: 11vw !important;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 87% !important;
    width:max-content !important;
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}
.swiper-button-next-arrival, .swiper-button-prev-arrival {
    position: absolute;
    top: 92% !important;
    width:max-content !important;
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}
.swiper-button-next:after  {
    width: 5vw !important;
    height: 5vw !important;
    content: '' !important;
    background-image: url('https://api.iconify.design/material-symbols/chevron-right-rounded.svg') !important;
    background-size: contain !important;
    background-repeat: no-repeat;
}
.swiper-button-prev:after{
    width: 5vw !important;
    height: 5vw !important;
    content: '' !important;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-image: url('https://api.iconify.design/material-symbols/chevron-left-rounded.svg') !important;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-family: none !important;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}
.swiper-button-next-arrival:after  {
    width: 5vw !important;
    height: 5vw !important;
    content: '' !important;
    background-image: url('https://api.iconify.design/material-symbols/chevron-right-rounded.svg') !important;
    background-size: contain !important;
    background-repeat: no-repeat;
}
.swiper-button-prev-arrival:after{
    width: 5vw !important;
    height: 5vw !important;
    content: '' !important;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-image: url('https://api.iconify.design/material-symbols/chevron-left-rounded.svg') !important;
}
.swiper-button-next-arrival:after, .swiper-button-prev-arrival:after {
    font-family: none !important;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}
.swiper-button-next {
    right: 43% !important;
    left: auto;
}
.swiper-button-prev {
    left: 43% !important;
    right: auto;
}
.swiper-button-next-arrival {
    right: 43% !important;
    left: auto;
}
.swiper-button-prev-arrival {
    left: 43% !important;
    right: auto;
}

.product-popular-content{
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: space-between;
}
.product-popular img{
  width: 100%;
}
.product-popular-desc{
    display: flex;
    gap: .1vw;
    flex-direction: column;
}
.product-popular-desc span{
    font-family: futura-medium;
    font-size: 1vw;
}
.product-popular-price{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.product-popular-price span{
    font-family: futura-medium;
    color: #8d8d8d;
    font-size: .9vw;
    text-decoration: line-through;
}
.product-popular-price h5{
    font-size: 1vw;
    font-family: futura-medium;
}

.new-arrival{
    width: 100%;
    padding: 0 4vw;
    height: max-content;
    padding-top: 1vw;
}
.heading-new-arrival{
    text-align: center;
    line-height: 1.1;
    margin-bottom: 3.7vw;
}
.heading-new-arrival span{
    font-family: futura-medium;
    font-size: 1.8vw;
    font-weight: 600;
}
.heading-new-arrival h1{
    text-transform: uppercase;
    font-family: futura-heading;
    font-size: 3.7vw;
}

.pilih-category {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.2vw;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.pilih-category input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-category {
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  right: 0;
  height: 1vw;
  width: 1vw;
  background-color: transparent;
  border: .12vw solid #070909;
}

/* When the checkbox is checked, add a blue background */
.pilih-category input:checked ~ .checkmark-category {
  background-color: transparent;
}

/* Create the checkmark-category/indicator (hidden when not checked) */
.checkmark-category:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark-category when checked */
.pilih-category input:checked ~ .checkmark-category:after {
  display: block;
}

/* Style the checkmark-category/indicator */
.pilih-category .checkmark-category:after {
  left: .23vw;
  top: .01vw;
  width: .25vw;
  height: .5vw;
  border: solid rgb(19, 19, 19);
  border-width: 0 .12vw .12vw 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.wrapper-arrival{
    margin-bottom: 10vw !important;
}

.footer-layout{
    background: black;
    width: 100%;
    padding: 3vw 3vw;
}
.footer{
    display: grid;
    grid-template-columns: 37% 63%;
}
.footer-menu{
    display: flex;
    justify-content: space-between;
}
.footer-menu ul li{
    list-style: none;
    font-size: 1vw;
    color: white;
    font-family: futura-medium;
    margin-bottom: 1.5vw;
    color: #717272;
}
.footer-menu ul li h4{
    text-transform: uppercase;
    color: white;
}
.footer-menu ul:nth-child(1) li{
    text-transform: uppercase;
    font-weight: 600;
    color:white;
}

.social-media-footer{
    display: flex;
    justify-content: flex-end;
    gap: 2.1vw;
    margin-top: .2vw;
}
.social-media-footer a{
    width: 3.6vw;
    height: 3.6vw;
    position: relative;
    background: white;
    border-radius: 20vw;
}
.social-media-footer a ion-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.2vw;
    transform: translate(-50%, -50%);
    color: black;
}

.footer-menu-second{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    margin-top: 1.7vw;
}
.copyright span{
    color: #717272;
    font-family: futura-medium;
    font-size: 1vw;
}
.copyright b{
    color: white;
}
.footer-menu-second-list ul{
    display: flex;
    list-style: none;
    gap: 3vw;
    justify-content: flex-end;
}
.footer-menu-second-list ul li{
    font-family: futura-medium;
    color: #717272;
    font-size: 1vw;
}


  .catalog{
    display:grid;
    grid-template-columns:19% 81%;
    padding:.2vw 3.8vw;
    margin-top: .5vw;
  }
  .box-category-layout{
    border:.14vw solid #F1F0F9;
    border-radius:1vw;
    padding:1vw;
    padding-bottom:3.7vw;
  }
  .heading-box-category-layout{
    background:#070909;
    color:white; 
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:1vw 1.1vw;
    border-radius:.5vw;
    margin-bottom:1.5vw;
  }
  .heading-box-category-layout h5{
    font-family:futura-medium;
    font-size:1.3vw;
    font-weight:500;
  }
  .heading-box-category-layout span{
    font-size:1.3vw;
  }
  .accordion-layout{
    padding: 0 .7vw;
  }
  .accordion {
    color: #0f0f0f;
    cursor: pointer;
    width: 100%;
    background: transparent;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.3vw;
    font-family: futura-medium;
    font-weight: 500;
    transition: 0.4s;
    padding: .3vw 0;
  }
  .accordion-category-list{
    display: flex;
    justify-content: space-between;
    margin: .46vw 0;
  }
  .accordion-category-list span{
    font-size: 1.3vw;
  }
  .accordion:after {
    content: url('https://api.iconify.design/tabler/chevron-up.svg');
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .activeAcc:after {
    content: url('https://api.iconify.design/tabler/chevron-up.svg');
    transform: rotate(180deg);
}
  .panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: futura-medium;
  }
  .panel p{
    font-family: futura-medium;
    font-size: 1.1vw;
  }

  /* .accordion-item {
    margin-bottom: 1vw;
  }
  
  .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
  }
  .accordion-header ion-icon {
    transition: transform 0.3s ease-in-out;
  }
  
  .rotate {
    transform: rotate(180deg);
  }
  
  .accordion-content {
    display: none;
    margin: 1vw 0;
  } */
  
  /* .sub-accordion {
    margin-left: 20px;
  } */
  

  .catalog-layout{
    padding:.2vw 2vw;
    padding-bottom:6vw;
  }
  .catalog-top{
    display:flex;
    align-items:center;
    justify-content:space-between;
    font-family:futura-medium;
  }
  .catalog-top span{
    font-size:1.3vw;
  }
  .sort-catalog{
    display:flex;
    align-items:center;
    gap:1vw;
  }
  .sort-catalog-select{
    position:relative;
    
  }
  .sort-catalog-select select{
    font-size:1.3vw ;
    font-family:futura-medium;
    outline:none;
    border:none;
    text-transform:none;
    padding:.4vw .8vw;
    border:.14vw solid #F1F0F9;
    appearance:none !important;
    position:relative;
    width:7.7vw;
    border-radius:.4vw;
  }

  .sort-catalog-select:after {
    top: 55%;
    right: 10%;
    border: solid transparent;
    content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 512 512"%3E%3Cpath fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="m112 184l144 144l144-144"%2F%3E%3C%2Fsvg%3E');
    height: 1.2vw;
    width: 1.2vw;
    position: absolute;
    pointer-events: none;
    transform:translateY(-50%);
    z-index: 100;
  }
  .catalog-product{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap:3vw;
    margin-top:1.3vw;
  }
  .catalog-product-image img{
    width:100%;
  }
  .catalog-product-content{
    display: grid;
    grid-template-columns: 65% 35%;
    justify-content: space-between;
    margin-top:.5vw;
  }
  .catalog-product-desc{
    display: flex;
    gap: .1vw;
    flex-direction: column;
  }
  .catalog-product-desc span:first-child{
    color: black;
  }
  .catalog-product-desc span{
    font-family: futura-medium;
    font-size: 1vw;
    color: #8d8d8d;
  }
  .catalog-product-price{
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .catalog-product-price span{
    font-family: futura-medium;
    color: #8d8d8d;
    font-size: .9vw;
    text-decoration: line-through;
  }
  .catalog-product-price h5{
    font-size: 1vw;
    font-family: futura-medium;
  }

  .breadcrumbs{
    display: flex;
    align-items: center;
    padding: .8vw 4vw;
    padding-top: 1.6vw;
    gap: .7vw;
  }
  .breadcrumbs a{
    color: black;
    font-family: futura-medium;
    font-size: 1vw;
  }

  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(.4vw);
    z-index: 9999;
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: .3vw;
    align-items: center;
    padding: 3vw 0;
    animation: popupAnimation .4s ease-in-out;
  }
  @keyframes popupAnimation {
    0%{
      transform: translate(-50%, 150%);
    }
    100%{
      transform: translate(-50%, -50%);
    }
  }
  /* .popup-chart-img{
    width: 100%;
  } */
  .popup-chart-img img{
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 1vw;
    border-radius: .6vw;
  }
  .popup-content button{
    position: absolute;
    right: 2%;
    background: transparent;
    color: white;
    border: none;
    top: 2%;
    cursor: pointer;
  }
  .popup-content button ion-icon{
    font-size: 2.7vw;
  }
  .popup-chart-content{
    padding-top: .7vw;
  }
  .popup-chart-content p{
    color: white;
    font-family: futura-medium;
    font-size: 1vw;
    width: 74%;
    margin-bottom: .6vw;
    font-weight: 500;
    margin: auto;
    text-align: center;
  }
  /* .popup-chart-content ul li{
    font-size: 1vw;
    list-style: none;
    font-family: futura-medium;
    color: white;
  } */
  
  /* .popup-content-guide{
    width:55%;
    display:flex;
    align-items:center;
    justify-content:center;
    background:black;
    flex-direction:column;
    margin:auto;
    padding:1.7vw 0;
    border-radius:1vw;
  }
  .popup-content table, tr, td{
    border:.12vw solid white;
    border-collapse:collapse;
    color:white;
    font-family:futura-medium;
    text-align:center;
    padding:1vw 1.5vw;
    font-size:1.1vw;
  }
  .popup-content img{
    width:70%;
  }
  .btn-guide{
    position:absolute;
    right:18%;
    top:0;
    background:transparent;
    border:none;
    outline:none;
    cursor:pointer;
  }
  .btn-guide span{
    color:white;
    font-size:3vw;
  } */
  .qty-layout button.active{
    border:.12vw solid black;
  }
  /* .App{
      width:100%;
      position:relative;
  }
  .wrapper-product{
      width:64%;
      padding-bottom:4vw;
  }
  .swiper-slide img{
      width:100%;
      filter:blur(2px);
      transition:1s all;
      border-radius:.7vw;
  }
  .swiper-slide-active img{
      filter:blur(0);
  }
  .wrapper-product .swiper-button-next, .wrapper-product .swiper-button-prev {
    position: absolute;
    top: 94.4% !important;
    width:max-content !important;
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
  }
  .wrapper-product .swiper-button-next:after  {
    width: 4vw !important;
    height: 4vw !important;
    content: '' !important;
    background-image: url('https://api.iconify.design/material-symbols/chevron-right-rounded.svg') !important;
    background-size: contain !important;
    background-repeat: no-repeat;
  }
  .wrapper-product .swiper-button-prev:after{
    width: 4vw !important;
    height: 4vw !important;
    content: '' !important;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-image: url('https://api.iconify.design/material-symbols/chevron-left-rounded.svg') !important;
  }
  .wrapper-product .swiper-button-next {
    right: 44% !important;
    left: auto;
  }
  .wrapper-product .swiper-button-prev {
    left: 44% !important;
    right: auto;
  } */
  .product-page{
    padding: 3vw 0;
    padding-top: 4vw;
    padding-bottom: 1vw;
  }
  .product-box{
    margin-top: 2vw;
  }
  .product-box-category{
    text-align:center;
    font-family:futura-medium;
  }
  .product-box-category span{
    color:#909391;
    font-size:1.2vw;
  }
  .product-box-category b{
    color:#070909;
  }
  .product-box-name{
    text-align:center;
    font-family:futura-bold;
  }
  .product-box-name h1{
    font-size:3.4vw;
    text-transform:uppercase;
  }
  .product-box-spesification{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    justify-content:center;
    justify-items:center;
    width:28%;
    margin:1vw auto;
    margin-bottom:1.4vw;
  }
  .spesification-icon{
    display:flex;
    align-items:center;
    flex-direction:column;
    gap:.4vw;
  }
  .spesification-icon-image{
    width:4.7vw;
    height:4.7vw;
    position:relative;
    border:.11vw solid black;
    border-radius:20vw;
  }
  .spesification-icon-image img{
    width:2.5vw;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
  }
  .spesification-icon span{
    font-family:futura-medium;
    font-size:.85vw;
  }
  .product-box-price{
    text-align:center;
    padding:1.4vw 0;
    font-family:futura-medium;
    border-top:.11vw solid #F1F0F9;
    border-bottom:.11vw solid #F1F0F9;
    width:34%;
    margin:auto;
  }
  .product-box-price h5{
    font-size:1.4vw;
  }
  .product-box-price span{
    text-decoration:line-through;
    font-size:1.3vw;
    color:#8d8d8d;
    font-weight:500;
  }

  .product-box-action{
    display:flex;
    font-family:futura-medium;
    width:max-content;
    margin:auto;
    margin-top:2vw;
  }
  .qty-box{
    border-right:.12vw solid #F1F0F9;
    padding-right:2.3vw;
  }
  .qty-box span{
    font-size:1.3vw; 
    color:#909391;
  }
  .qty-layout{
    display:flex;
    gap:.9vw;
    align-items:center;
    margin-top:1vw;
    font-family: futura-medium;
  }
  #qty{
    font-family: futura-medium;
  }
  .qty-layout button{
    font-size:1.3vw;
    background:transparent;
    outline:none;
    border:.12vw solid #F1F0F9;
    width:2.9vw;
    height:2.9vw;
    font-family:futura-medium;
  }
  #size-button{
    display: flex;
    gap: .9vw;
  }
  .qty-layout .size-guide{
    width:max-content;
    border:none;
    font-size:1vw;
    color:#909391;
    font-weight:500;
    cursor:pointer;
  }
  .qty-layout p{
    background:black;
    color:white;
    width:2.9vw;
    height:3vw;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.1vw;
  }
  .size-select{
    padding-left:2.3vw;
  }
  .size-select span{
    font-size:1.3vw;
    color:#909391;
  }

  .product-box-btn{
    display:flex;
    align-items:center;
    gap:1vw;
    width:max-content;
    margin:2.6vw auto;
  }
  .product-box-btn button{
    background:#070909;
    color:white;
    border-radius:20vw;
    font-family:futura-medium;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:.5vw;
    cursor:pointer;
  }
  .product-box-btn button.add-to-cart-product{
    font-size:1.2vw;
    padding:.9vw 1.6vw;
  }
  .add-to-cart-product ion-icon{
    font-size: 1.7vw;
  }
  .product-box-btn button.add-to-wishlist-product{
    font-size:1.1vw;
    padding:.9vw;
  }
  .add-to-wishlist-product{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-box-btn ion-icon{
    font-size:1.7vw;
    text-align: center;
  }
  .product-box-desc{
    font-family:futura-medium;
    width:40%;
    margin:auto;
    margin-top:1vw;
    text-align:center;
  }
  .product-box-desc h3{
    font-size:1.3vw;
    margin-bottom:.5vw;
  }
  .product-box-desc p{
    font-size:1vw;
    padding:0 3vw;
  }

  .related-product-layout{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    padding:5vw 4vw;
    padding-top:1vw;
    grid-gap:2vw;
  }
  .related-product-layout a{
    color: black !important;
  }
  .heading-related-product{
    text-align:center;
    margin-bottom:1.8vw;
    margin-top:4vw;
    border-top:.12vw solid #F1F0F9;
    padding-top:3vw;
    margin-right:6vw;
    margin-left:6vw;
  }
  .heading-related-product h1{
    font-family:futura-medium;
    font-size:1.8vw;
  }


  .cart{
    width: 100%;
    /* display: flex; */
    gap: 2.2vw;
    padding: 5vw 16vw;
    padding-bottom: 7vw;
    font-family: futura-medium;
  }
  .cart-product-heading{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1.2vw;
  }
  .cart-product-heading h1{
    font-size:3vw;
    font-family: futura-heading;
    text-transform: uppercase;
    margin-bottom: -.9vw;
  } 
  .cart-product-remove{
    display: flex;
    align-items: flex-end;
    border: none;
    gap: .1vw;
    font-family: futura-medium;
    background: transparent;
    font-weight: 600;
    color: #0f0f0f;
    cursor: pointer;
  }
  .cart-product-remove ion-icon{
    font-size: 1.1vw;
  }
  .cart-product-remove span{
    font-size: 1vw;
    margin-bottom: -.06vw;
  }
  /* .cart-product-box table{
    border-collapse: collapse;
    margin-top: 1vw;
  }
  .cart-product-box table tr th{
    font-size: .9vw;
    letter-spacing: .07vw;
    text-transform: uppercase;
    color: #a2a1a7;
    border-bottom: .14vw solid #F1F0F9;
    padding: .9vw 0;
  }
  .cart-product-box table tr th:first-child{
    text-align: start;
    width: 55%;
  }
  .cart-product-box table tr th:last-child{
    text-align: end;
  }
  .cart-product-box table tr{
    border-bottom: .14vw solid #F1F0F9;
  }
  .cart-product-box table tr td{
    padding: 1vw 0;
    padding-bottom: 1.1vw;
    border-bottom: .14vw solid #F1F0F9;
  }
  .cart-product-box table tr:last-child{
    border: none;
  }
  .cart-product-box table tr td:last-child{
    text-align: end;
    font-size: 1.1vw;
    font-weight: 600;
  } */
  .cart-product-body-heading{
    display: grid;
    /* grid-template-columns: 55% 25% 20%; */
    grid-template-columns: 46% 34% 20%;
    padding: 1vw 0;
    /* margin-top: 1vw; */
    border-top: .12vw solid #F1F0F9;
    border-bottom: .12vw solid #F1F0F9;
  }
  .cart-product-body-heading h3{
    font-size: 1.3vw;
    font-weight: 500;
    color: #bfbec4;
  }
  .cart-product-body-heading h3:nth-child(2){
    text-align: center;
  }
  .cart-product-body-heading h3:nth-child(3){
    text-align: end;
  }
  .cart-product-table{
    display: grid;
    grid-template-columns: 55% 25% 20%;
    align-items: center;
    padding: 1vw 0;
  }
  .cart-product-detail{
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 25% 75%;
    align-items: center;
    gap: 1.4vw;
  }
  .cart-product-image{
    width: 100%;
  }
  .cart-product-image img{
    width: 100%;
  }
  .cart-product-name h3{
    font-size: 1.2vw;
    padding-right: 2vw;
  }
  .cart-product-name span{
    font-size: 1vw;
  }

  .cart-product-quantity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6vw;
  }
  .product-layout-price{
    text-align: end;
  }
  .product-layout-price span{
    font-size: 1.1vw;
    font-weight: 600;
  }
  .cart-product-option{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2vw;
  }
  .cart-product-option button{
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .cart-product-option button ion-icon{
    font-size: 1.3vw;
    color: #3a3b3b;
  }

  .cart-product-layout{
    /* width: 68%; */
    width: 100%;
  }

  .cart-sidebar-layout{
    width: 100%;
    border-top: .12vw solid #F1F0F9;
    height: max-content;
    border-radius: .4vw;
    padding: 1.4vw 0;
    margin-left: auto;
    margin-top: 1.5vw;
  }
  .cart-sidebar-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4vw;
  }
  .cart-sidebar-content p{
    font-size: 1.2vw;
    color: #a2a1a7;
  }
  .cart-sidebar-content span{
    font-size: 1.1vw;
    font-weight: 600;
  }
  .cart-sidebar-content.grand-total{
    border-top: .12vw solid #F1F0F9;
    padding-top: 1.2vw;
    align-items: center;
  }
  .cart-sidebar-content.grand-total h3{
    font-size: 1.3vw;
  }
  .cart-sidebar-button button{
    width: 100%;
    border: none;
    font-size: 1.2vw;
    color: white;
    background: #070909;
    font-family: futura-medium;
    padding: 1.1vw;
    border-radius: .3vw;
    cursor: pointer;
  }


  .wishlist-product-box{
    display: grid;
    grid-template-columns: 46% 18% 18% 18%;
    align-items: center;
    border-top: .12vw solid #F1F0F9;
    /* border-bottom: .12vw solid #F1F0F9; */
    padding: 1.5vw 0;
    /* margin-top: 1.2vw; */
    /* border: .1vw solid black; */
  }
  .wishlist-product-box:last-child{
    border-bottom: .12vw solid #F1F0F9; 
  }
  .cart-product-box{
    display: grid;
    grid-template-columns: 46% 34% 20%;
    align-items: center;
    /* border-top: .12vw solid #F1F0F9; */
    border-bottom: .12vw solid #F1F0F9;
    padding: 1.5vw 0;
  }
  .wishlist-product-box .cart-product-detail{
    display: grid;
    grid-template-columns: 25% 75%;
  }
  .price-product-wishlist{
    text-align: center;
  }
  .price-product-wishlist span{
    font-size: 1.1vw;
    color: #909391;
  }
  .wishlist-product-box .cart-product-image{
    width: 100%;
  }
  /* .wishlist-product-box td{
    text-align: center;
    padding-top: 1.6vw;
  }
  .wishlist-product-box td:first-child{
    width: 50%;
    text-align: start;
  }
  .wishlist-product-box .cart-product-image{
    width: 14%;
  }
  .wishlist-product-box td:nth-child(2){
    width: 16%;
  }
  .price-product-wishlist span{
    font-size: 1.1vw;
    color: #909391;
  }
  .wishlist-product-box td:nth-child(3){
    width: 16%;
  }
  .wishlist-product-box td:nth-child(4){
    width: 16%;
  } */
  .stock-product-wishlist{
    text-align: center;
  }
  .stock-product-wishlist span{
    font-size: 1.1vw;
    color: #909391;
  }
  .btn-product-wishlist{
    text-align: center;
  }
  .btn-product-wishlist button{
    font-family: futura-medium;
    background: #0f0f0f;
    border: none;
    color: #ffffff;
    font-size: .9vw;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    padding: .7vw 1vw;
    letter-spacing: .1vw;
  }

  .wishlist{
    padding: 7vw 16vw;
  }
  .wishlist .cart-product-layout{
    width: 100%;
  }
  .swiperLogin{
    width: 100%;
  }
  .swiper-slide{
    width: 100%;
  }

  .swiper-slide img{
    width: 100% !important;
  }

  .login-page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    box-sizing: border-box;
    grid-gap: 5vw;
    width: 100%;
    padding: 7vw 15vw;
    font-family: futura-medium;
  }
  .form-login h2{
    font-family: futura-medium;
    font-size: 2.3vw;
    margin-bottom: .6vw;
  }
  .form-login p{
    font-size: 1.2vw;
    font-family: futura-medium;
    margin-bottom: 1.2vw;
  }
  .form-input-box{
    width: 80%;
  }
  .form-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
    gap: .5vw;
  }
  .form-input label{
    font-size: 1.2vw;
  }
  .form-input input{
    width: 100%;
    background: transparent;
    border: .12vw solid #0f0f0f;
    outline: none;
    font-size: 1.2vw;
    font-family: futura-medium;
    padding: .6vw .8vw;
  }
  .form-input textarea{
    width: 100%;
    background: transparent;
    border:.12vw solid #0f0f0f;
    outline: none;
    font-size: 1.2vw;
    font-family: futura-medium;
    padding: .6vw .8vw;
  }
  .space-between{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5vw;
  }
  /* The container */
.remind {
  display: block;
  position: relative;
  padding-left: 1.7vw;
  cursor: pointer;
  font-size: 1.2vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.remind input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.3vw;
  width: 1.3vw;
  background-color: transparent;
  border: .12vw solid #070909;
}

/* When the checkbox is checked, add a blue background */
.remind input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.remind input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.remind .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid rgb(19, 19, 19);
  border-width: 0 .12vw .12vw 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
  
  .forgot-password a{
    font-size: 1.2vw;
    color: black;
  }
  .form-button{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .9vw;
  }
  .form-button button{
    width: 100%;
    background: #070909;
    color: white;
    font-size: 1.2vw;
    font-family: futura-medium;
    padding: .6vw;
    border:.12vw solid transparent;
    cursor: pointer;
  }
  .account-google-text{
    text-align: center;
    font-size: 1vw;
    margin: 1.9vw auto;
  }
  .account-google-text span{
    color: #cdc9d3;
  }
  .register-btn{
    background: transparent !important;
    border: .12vw solid #0f0f0f !important;
    color: #070909 !important;
  }

  .button-account-google{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4vw;
    border: .12vw solid #efedf3;
    padding: 1.1vw;
    cursor: pointer;
  }
  .button-account-google img{
    width: 1.2vw;
  }
  .button-account-google span{
    font-size: 1.2vw;
  }

  /* .form-login-slide{
    position: relative;
    width: 100%;
    height: 4vw;
    background: rebeccapurple;
  } */
  .form-login-slide img{
    width: 5vw;
  }

  .swiper-slide-login{
    background-image: url(../image/finest.jpg) !important;
    background-position: center !important;
    background-size: cover !important;
    width: 100% !important;
    height: 38vw !important;
  }
  .swiper-slide-login-2{
    background-image: url(../image/futurist.jpg) !important;
    background-position: center !important;
    background-size: cover !important;
    width: 100% !important;
    height: 38vw !important;
  }
  .swiper-slide-login-3{
    background-image: url(../image/vintage.jpg) !important;
    background-position: center !important;
    background-size: cover !important;
    width: 100% !important;
    height: 38vw !important;
  }


  .checkout{
    width: 100%;
    padding: 5vw 16vw;
    font-family: futura-medium;
  }
  .heading-checkout{
    text-transform: uppercase;
    font-family: futura-heading;
    padding-bottom: .3vw;
    border-bottom: .12vw solid #efedf3;
    margin-bottom: 1.4vw;
  }
  .heading-checkout h1{
    font-size: 3vw;
  }
  .form-checkout-layout{
    display: grid;
    grid-template-columns: 52% 48%;
  }
  .form-checkout-contact{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-right: 4vw;
  }
  .form-input-column{
    display: grid;
    grid-template-columns: 60.8% 35%;
    grid-column-gap: 1.4vw;
  }
  .btn-back{
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    color: #0f0f0f;
  }
  .button-to-shipping{
    width: max-content;
    background: #070909;
    color: white;
    font-size: 1.2vw;
    font-family: futura-medium;
    padding: .6vw;
    border:.12vw solid transparent;
    cursor: pointer;
  }
  .button-to-shipping a{
    color: white;
  }

  .product-checkout{
    display: grid;
    grid-template-columns: 20% 53% 27%;
    align-items: center;
    width: 100%;
    padding-top: .9vw;
    padding-bottom: .8vw;
    border-bottom: .12vw solid #efedf3;
  }
  .content-product-checkout{
    padding: .9vw;
  }
  .content-product-checkout h3{
    font-size: 1.2vw;
    margin-bottom: .4vw;
     overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
  }
  .content-product-checkout span{
    font-size: 1.1vw;
  }
  .image-product-checkout img{
    width: 100%;
  }
  .price-product-checkout{
    padding: .9vw .4vw;
    padding-top: .3vw;
    text-align: end;
    padding-right: 0;
  }
  .price-product-checkout span{
    font-size: 1.1vw;
  }

  .checkout-sidebar-total{
    border-top: none;
    padding-top: 0;
  }

  .shipping-input-layout{
    padding-right: 4vw;
  }
  .shipping-input-box{
    margin-bottom: 1.4vw;
  }
  .shipping-input-box label{
    font-size: 1.4vw;
  }
  .output-contact span{
    font-size: 1.2vw;
  }
  .output-contact{
    border: .12vw solid #0f0f0f;
    display: flex;
    justify-content: space-between;
    padding: .6vw .8vw;
    align-items: center;
    gap: 2vw;
  }
  .output-contact a{
    font-size: 1.2vw;
    color: #070909;
  }
  /* .wrapper{
    display: flex;
    flex-direction: column;
    background: #fff;
    height:max-content;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }
  .wrapper .option{
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    cursor: pointer;
    border: .12vw solid #070909;
    transition: all 0.3s ease;
  }
  .wrapper .option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
  }
  .wrapper .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
  }
  input[type="radio"]{
    display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2{
    border-color: #0069d9;
    background: #0069d9;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot{
    background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .wrapper .option span{
    font-size: 20px;
    color: #808080;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span{
    color: #fff;
  } */

  .shipping-select-layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.3vw;
    margin-top: .7vw;
    margin-bottom: 1.3vw;
  }
  
  .shipping-radio {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
  }
    .shipping-radio input{
      position: absolute;
      left: -9999px;
    }
    .shipping-radio input:checked + span{
      /* background-color: #0f0f0f; */
      color: rgb(31, 31, 31);
      border: .12vw solid #0f0f0f;
    }
    .shipping-radio input:checked + span::before{
      box-shadow: inset 0 0 0 0.4vw #252525;

    }
    
    .shipping-radio span {
      display: grid;
      grid-template-columns: 8% 64% 28%;
      align-items: center;
      transition: 0.25s ease;
      border: .12vw solid #cfcfcf;
      width: 100%;
      color: #0f0f0f;
      background: transparent;
      padding: .7vw .9vw;
    }
    .shipping-radio span::before{
      display: flex;
      flex-shrink: 0;
      content: "";
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      transition: 0.25s ease;
      box-shadow: inset 0 0 0 0.125em #5A5958;
    }
    .heading-shipping-method{
      font-size: 1.2vw;
    }
    .heading-shipping-method h3{
      font-size: 1.2vw;
    }
    .heading-shipping-method p{
      font-size: 1.1vw;
    }
    .price-shipping{
      font-size: 1.3vw;
      text-align: end;
    }
    .shipping-heading label{
      font-size: 1.4vw !important;
      padding-bottom: 1vw;
    }

    .find-store{
      width: 100%;
      /* padding: 4vw 23vw; */
      padding: 8vw 0;
      font-family: futura-medium;
    }
    .heading-find-store{
      text-align: center;
    }
    .heading-find-store h1{
      font-size: 3vw;
      font-family: futura-heading;
      text-transform: uppercase;
    }
    .heading-find-store p{
      font-size: 1.3vw;
    }
    .layout-find-store{
      width: 100%;
    }
    .layout-find-store-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.7vw;
      margin-top: 1.7vw;
    }
    .layout-find-store-content a{
      width: 100%;
    }
    .layout-find-store-box{
      width: 100%;
      border: .12vw solid #0f0f0f;
      display: grid;
      grid-template-columns: 19% 56% 25%;
      padding: 2.7vw 3vw;
      align-items: center;
      padding-right: 0;
      transition: .2s all;
    }
    /* .layout-find-store-box:hover{
      transform: translateX(3%);
    } */
    .marketplace-icon{
      width: 9.2vw;
      height: 9vw;
      position: relative;
      border: .12vw solid #0f0f0f;
      border-radius: 20vw;
    }
    .marketplace-icon img{
      max-width: 54%;
      object-fit: contain;
      filter: grayscale(1);
      position: absolute;
      max-height: 54%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: .2s all;
    }
    .layout-find-store-box:hover .marketplace-icon img{
      filter: grayscale(0);
      transform: translate(-50%, -50%) scale(1.1);
    }
    .heading-layout-find-store{
      padding: 0 2vw;
    }
    .heading-layout-find-store h2{
      font-size: 4.3vw;
      color: #0f0f0f;
      font-weight: 600;
      letter-spacing: .1vw;
      margin-bottom: .6vw;
    }
    .heading-layout-find-store span{
      font-size: .86vw;
      text-transform: uppercase;
      letter-spacing: .14vw;
      color: #1b1b1b;
    }
    .time-layout-find-store{
      border-left: .12vw solid #e4e4e4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: .4vw;
    }
    .time-layout-find-store svg{
      width: 3.6vw;
      color: #070909;
      margin-bottom: .3vw;
    }
    .time-layout-find-store span{
      font-size: .7vw;
      letter-spacing: .08vw;
      color: #070909;
      margin-bottom: .2vw;
    }
    .marketplace-store{
      background: #070909;
    }
    .marketplace-store p{
      color: white;
      font-size: .8vw;
      padding: .3vw .6vw;
      text-transform: uppercase;
      letter-spacing: .06vw;
    }

    .findStore{
      margin-top: 2.6vw;
    }
    .slide-find {
      width: 53% !important;
    }
    .findStore .swiper-wrapper{
      padding-bottom: 6vw;
    }